extends layout

block content
	.myNavBar
	.descriptionDiv
		.deep-purple.darken-2
			.container
				.row.white-text
					.col.s4
						.section
							h5 #{title}
							p test test 
					.col.s4
						.section
							h5 test
					.col.s4
						.section
							h5 test
		.divider
	.bookContent
		.container
			.page-content-inside
				h2 introduction
				p.flow-text
					| 우리나라 페미니스트들은 아버지의 성을 물려받는 것에 항거하기 위하여 개명을 통해 어머니의 성도 이름에 넣는 경우가 많다.[1] 단 이 경우, 성으로 인정되는 것은 한 쪽뿐이고 나머지 한 쪽은 이름으로 처리된다. 예를 들어 이름이 '김이철수'라면 성은 '김' 뿐이고 이름은 '이철수'라는 것.
					| 일반적으로 생각하는 '성 평등[2]'의 관념에 맞지 않는 점을 개선하자고 주장한다. 여성 선거권 획득 등의 페미니스트 초기의 운동에서 특히 뚜렷히 볼 수 있다.
					| 이러한 성향 때문에 대체로 동성애자와 분리될 수 없는 관계를 가지게 되었는데, 오늘날 페미니즘 운동이 성적 소수자를 대변하는 역할을 하게 된 것도 이들의 영향이라고 하겠다.[3]
					| 페미니스트들의 반대편에 둘 수 있는 것으로 남자에게 순종적인 현모양처나 야마토 나데시코가 있다. 다만 페미니즘은 여성과 남성의 사회적으로 동등한 대우가 목표인 것이므로, 엄밀히 말해 (원칙적으로는) 반대 개념은 아니다.[4] 꼴마초나 마초의 반대 개념이라고 할 수 있다. 또한, 아래의 비틀린 페미나치도 이 페미니스트에 반대되는 것이다.
					| 또한 이 아저씨와일본 매체에서 여자에게 친절한 남자를 페미니스트라고 칭하는 식으로 괴상하게 왜곡되는 경우가 많은데, 특히 '여자애는 연약하니까 보호해줘야지'같은 인식을 바탕으로 나온 행동이라면 그건 전혀 페미니즘과 관계없다.
					| 1과 2에 차이를 두고자 하는 경우, 1만을 '페미니스트'로 지칭하고 2는 그냥 성차별주의자라고 부르면 된다. 하지만 흔히 속어로 '페미나치(Feminazi)'라고 불린다.
					| 진정한 페미니스트란 성적 약함을 인정하고 남성 속의 여성성과 여성 속의 남성성 등을 인정하는 것이다. 남자라고 배려없고 더럽고 뭐든지 안 무섭고 안 고달픈 인간인가? 여자라고 청결하고 배려있고 용기와 헌신이 없는 인간인가? 성적 소수를 인정하고 성적 약함을 인정하고 그 것을 위해 싸우는 것이 진정한 페미니스트이다.

