extends layout

block content
  .myNavBar
    .tittle
      h1 주제
        h3 설명
    
    .row
      .col-md-4#tweetd
      
      .col-md-4#hashTag
      
      .col-md-4#favorites
    
  .myCollection
    .panel.panel-default
      .panel-heading 위로 가기 
      .panel-body Panel content
        button#addButton 추가하기