body {
	background-color: white;
}

a {
	color: #00B7FF;
}

.myCollection{
	 position:fixed;
	 left:0px;
	 bottom:0px;
	 height:300px;
	 width:100%;
	 background:#82F0D6;
}

.tweet{
	font: 14px 'Nanum Gothic', sans-serif;
}

.tweet:hover{
	background: #FFFFFF;
	/*font: 20px 'Nanum Gothic', sans-serif;*/
}


.input-field input[type=text]:focus + label {
	color: #512da8 ;
}

.input-field input[type=text]:focus {
	border-bottom: 1px solid #512da8;
	box-shadow: 0 1px 0 0 #512da8;
}

.input-field .prefix.active {
	color: #512da8;
}

#loading{
	position: absolute;
	top: 50%;
	left: 40%;
	display: none;
}

.mycontainer{
	margin: 10px auto;
	width: 80%;
}

.book:hover{
	background-color: #F9D6EB;
}

.bookContent{
	background-color: #EBEBEB;
}

.page-content-inside h2{
	padding: 40px;
}

.page-content-inside  p{
	padding: 100px;
	background-color: #FFFFFF;
}